body{
	    font-family: 'Lato', sans-serif;
	    font-size: 100%;
	    margin:0px;
}

/*navigation bar start*/
header .container-fluid
{
	padding-left: 0px;
	padding-right: 0px;

}
.three-items
{
	display: flex;
	position: absolute;
	top:2%;
	right:0px;
}
header
{
	position: relative;
}

header .container-fluid .navbar
{
padding: 1px;
position: fixed;
top:0;
width:100%;
z-index: 99;                               /*hover effect visible on anchor tags,content goes beneath while scrolling the menu*/
}
.fa
{
display: inline-block;
font: normal normal normal 14px/1;
font-size: inherit;
}

header .container-fluid .navbar .navbar-nav .nav-item .nav-link{
	padding-left: 1px;
}

header .container-fluid .navbar .navbar-nav .nav-item .nav-link:hover span
{
	color: white;
}
header .container-fluid .navbar .navbar-nav .nav-item .nav-link:hover .back-icon
{
	fill:blue;
}
.three-items .nav-item .nav-link:hover span
{
	color: white;
}
.three-items .nav-item .nav-link:hover .icons
{
	fill:blue;
}

.three-items .nav-item a
{  
 margin-left:15px;
 margin-right:4px; 
 
}
.icons,.back-icon
{
	fill:gray;
}

svg
{
	margin-left:10px;

}
.three-items span
{ margin-left: 5px;
	padding-right:-10px;

}
/*navigation bar end*/



/*banner section start*/
.banner
{
background-image: url("../images/banner.jpg");
background-size: cover;
background-repeat: no-repeat;
min-height:350px;
 background-position: 100% 43%;
}

#logo a
{
	color:white;
	letter-spacing: 1px;
	text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
	padding-left:20px;
	font-size: 1em;
	font-weight: 700;

}
#logo h1
{
	margin-top: 8%;
	font-family: 'Source Sans Pro', sans-serif;
}
#logo a:hover
{
	text-decoration: none;
}

.navbar-dark .banner-navigation .nav-link
{ color: white;
  font-weight:500;
  font-size: 0.8em;
  letter-spacing: 2px;
  margin:2em 1em;
  padding-left: 2px;
  padding-right: 2px;
  text-transform: uppercase;

}

.navbar-dark .banner-navigation .nav-link:hover
{
	color: red;
}
.dropdown-menu .dropdown-item:hover
{ color: red;
}

.banner .container-fluid .navbar 
{
	display: flex;
	justify-content:space-between;
	padding-top:45px;
}

.navbar-dark .banner-navigation
{
	margin-right:2%;
}

.container .row .col-6
{
	margin-top:18%;
	margin-left:-70px; 
}
.dropdown-menu a
{
color: #555;
padding: 13px 80px 13px 18px;
font-size: 0.9em;
font-weight: 600;
letter-spacing: 2px;
font-family: 'Source Sans Pro', sans-serif;
}

.dropdown-menu
{
	border-radius: 0px;
	margin-top:-10px;
	margin-left:20px;
    
}

.dropdown:hover .dropdown-menu
{
	display: block;
}

/*banner section end*/

/*welcome section start*/

.welcome-navbar a
{
	font-size: 0.9em;
	line-height:2em;
	color: #8c9398;
	letter-spacing: 1px;
}

.slash
{
	color: #8c9398;
	padding-right: 8px;
	padding-left: 8px;

}
.welcome-navbar a:hover
{
	text-decoration: none;
	color:red;
}
.welcome-navbar
{
	margin-left:20px;
	display: flex;
	padding: 10px;
}
.welcome
{
background-color:#f7f7f7;
}

/*welcome section end*/

/*contact-section-start*/
.contact-us
{
	margin:60px;
	padding:0px;
}
.contact-us .container
{
	display: flex;
	/*justify-content:space-evenly;*/
	margin-top: -20px;



}


.all-input
{
  display: flex;
  flex-direction:column;
  justify-content:space-between;

}
.all-input input[type=text],.all-input input[type=email],.all-input input[type=tel],.all-input textarea
{
  padding:12px 12px 12px 15px;
  width:550px;
  margin-bottom: 15px;
  background-color:#f0f1f3;
  border:none;
}

.phone-name,.email-name,.fax-name,.location-name
{
	padding-left: 5px;
}
.phone-related .phone-number,.email,.fax-number,.location-related .location
{
	color:#8c9398;
}

.phone-related .phone-number,.fax-number,.location-related .location,.email
{
	font-size: 0.8em;
    letter-spacing: 2px;
}
.phone-related .phone-number
{
	margin-top: 15px;
}

.fax-number,.location-related .location,.email
{
	margin-top: 9px;
}

.icon-name
{
	display: flex;
	font-size: 0.8em;
	font-weight: 600;
	letter-spacing: 2.5px;
	padding:5px 5px 5px 0px;


}
.right-side-contact-us
{
	display:flex;
	flex-direction:column;
	/*margin-top: -10px;*/
	margin-top: 5px;
	margin-left: 20px;

}
.right-side-contact-us .phone-related,.right-side-contact-us .email-related,.right-side-contact-us .fax-related,.right-side-contact-us .location-related
{
	padding:0px 25px 20px 25px;
	margin-top: -4px;
}

.find-us h6
{
	color:#8c9398;
	font-size: 0.7em;
	letter-spacing: 2px;
	font-weight: 600;
	margin-bottom: -55px;
}

.contact-us h1
{
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 2.2em;
}
.submit button
{
	border-radius:0;
	background-color: black;
	padding:8px 40px 10px 40px;
	border:none;
	margin-top: 20px;
}
.submit button:hover
{
	background-color: black;
}
span.submit
{
	font-size: 14px;
    letter-spacing: 1px;
    font-weight: 700;
}
.left-side-contact-us
{
	margin-top: 10px;
}
/*contact-section-end*/

/*google-map-location-section-start*/

.google-map
{
	margin-bottom: 70px;
}


/*google-map-location-section-end*/




/*end-three-section start*/
.end-three-section
{
	background-color: #f7f7f7;
	margin-bottom: 50px;
}
.end-three-section .container
{
  display: flex;
  justify-content:space-between;
}

.w3layouts-newsletter:after
{
	content:"";
	display: block;
	margin: 0 auto;
	width:100%;
	border-bottom: 1px solid #ddd;
	padding-top: 40px;
}

.footer
{
	display: flex;
	justify-content:space-between;
	margin-top:30px;
}
.footer ul
{
  padding-left: 5px;
  display: flex;
  flex-direction:column;
  justify-content:space-between;
}

.footer ul li{
	padding-top:22px;

}

.phone-number,.e-mail,.locat-ion
{
	position: relative;
	top:-10px;
}

.mobile-number,.email-address,.address
{
	position: relative;
	top:10px;
}
.phone,span.email,.locat-ion .location
{
  font-size: 0.9em;
  letter-spacing: 1px;
  color:#5e5e61;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
}
.copyright
{
	display: flex;
	justify-content:space-between;
	padding-top: 90px;
	padding-bottom: 30px;
}
.copyright .text p{
	color:#555 !important;
}
.end-three-section .container .right
{
	padding-top: 4%;
	margin-top: 3%;
	padding-left:20px;
	display: flex;
	flex-direction:column;
	justify-content:space-evenly;
	
}
.arrow
{
	background-color: black;
    padding:12px;
    position: relative;
    top:-30px;
}
.arrow:hover
{
	background-color: blue;
}
.fa-long-arrow-up
{
	color: white;
	
}
.end-three-section .container .left .text p{
    font-size: 0.9em;
	line-height:2em;
	color: #8c9398;
	letter-spacing: 1px;
}

.end-three-section .container .right .text p{
	font-size: 0.9em;
	line-height:2em;
	color: #8c9398;
	letter-spacing: 1px;
}
.catch-on-social
{
	font-size: 0.9em;
	letter-spacing: 1px;
	color: #5e5e61;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
}
.Icons a                                                    /*hierarchy in footer*/
{

	border-radius: 50%;
	margin-right: 20px;
	height:34px;
	width: 34px;
	display: inline-block;
	text-align: center;

}
.Icons a:hover
{
	opacity: 0.8;
}
.Icons a span
{
color: white;
padding: 10px;
font-size: 13px;
}
.w3pvt_facebook
{
	background: #3b5998;

}
.w3pvt_twitter
{
   background: #1da1f2;
}
.w3pvt_dribble
{
background: #ea4c89;
}
.w3pvt_google
{ 
	background: #F44336;
}
#black-logo a
{
	color:black;
	letter-spacing: 1px;
	text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
	font-size: 34px;
	font-weight: 700;
}
#black-logo h1
{
	margin-top: 8%;
	font-family: 'Source Sans Pro', sans-serif;
}
#black-logo a:hover
{
	text-decoration: none;
}
.end-three-section .container .left
{
	padding-top:10px;
	margin-left:-20px;
}
.end-three-section .container .left .text
{
	padding-top:10px;
	padding-bottom: 10px; 
}
.footer ul li{
	list-style-type: none;
}
.footer ul li a:hover
{
  text-decoration: none;

}
.footer ul li a
{
	color:#727377;
	font-size: 0.8em;
	letter-spacing: 1px;
	 text-transform: uppercase;
}
.footer ul li a:hover{
	opacity: 0.8;
}
input[type="email"]
{
	background-color: #efeeee;
	border: none;
	font-size: 15px;
	padding:15px 450px 15px 10px;
	letter-spacing: 2px;
}

.vertical-line{
  border-left: 1px solid #ddd;
  height: 717.69px;
}
.btn1
{
	background-color: black;
	border-radius: 0px;
	margin-left:-8px;

}
.btn1:hover
{
	background-color: blue;
}
.fa-paper-plane-o
{
	color:#ff4c4c;
	padding:15px 30px 15px 30px;
}
.newsletter .heading{
	font-size: 1.1em;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: 'Source Sans Pro', sans-serif;
	padding-bottom: 15px;
	margin-top: -40px;

}
.information,.customer-service,.contact-info
{
  font-size: 1.1em;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;	
	padding-bottom: 10px;
}
/*end-three-section end*/